/* Main Grid Layout */
#container-home, #container-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 470px 1fr 2rem;
    grid-auto-rows: auto;
    min-height: 100vh;
}

#container-main {
    grid-template-rows: auto 1fr 2rem;
}

header {
    grid-area: 1 / 1 / span 1 / span 12;
}

main {
    grid-area: 2 / 1 / span 1 / span 12;
}

footer {
    grid-area: 3 / 1 / span 1 / span 12;
}

/* General styles */
p {
    margin: 1rem 1rem 1.5rem 1rem;
    line-height: 1.5rem;
}

nav a {
    color: rgba(0, 0, 0, 70%);
    text-decoration: none;
}

button, .button-dark {
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 0.25rem;
    display: inline-flex;
    align-items: center;
}

.button-light {
    border: 2px solid rgba(0, 0, 0, 70%);
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 70%);
}

button:hover {
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

article {
    margin-bottom: 1rem;
}

.wrap-group {
    display: inline-block;
}

/* Typography */
body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    min-height: 100vh;
    color: rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 3rem;
    margin: 0.5rem;
    font-weight: 600;
}

h2, h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}

h2 {
    font-size: 1.8rem;
    margin: 1rem 0.5rem;

}

h3 {
    font-size: 1.3rem;
    margin: 1rem 0.5rem;

}

.text-center {
    text-align: center;
}

/* Nav */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,0.95);
    border-radius: 0.5rem;
    transition: width 0.3s;
    z-index: 99;
}

nav a::after {
    position: relative;
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: rgb(152, 63, 151);
    transition: 0.3s;
    left: 50%;
}
  
nav a:hover::after {
    width: 100%;
    left: 0;
}

.nav-open {
    width: 95%;
}

#close-nav {
    align-self: flex-end;
}

nav li {
    width: fit-content;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.nav-active::after {
    position: relative;
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background: rgb(152, 63, 151);
    left: 0;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: 
        linear-gradient(180deg, rgba(255,255,255,0) 60%, rgba(255, 255, 255) 95%),
        center / cover no-repeat url('images/andy.jpeg');
    margin-bottom: 1rem;
}

header.compact {
    background: rgba(212, 243, 214, 50%);
    /* background: 
        linear-gradient(180deg, rgba(255,255,255,30%) 0%, rgba(255, 255, 255) 95%),
        top / cover no-repeat url('images/andy.jpeg'); */
    flex-direction: row;
    margin-bottom: 1rem;
}

#open-nav {
    align-self: flex-start;
}

h1 {
    align-self: flex-end;
    max-width: 230px;
    text-align: right;
    color: rgb(152, 63, 151);
    text-shadow: white 0px 0 40px;
}

/* Content */
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-row {
    margin-bottom: 1rem;
    align-self: stretch;
}

section:nth-of-type(1) {
    margin-top: 0;
}

/* Home page */

#intro-section, #tech-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tech-section {
    flex-direction: column;
}

#tech-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#tech-section li {
    font-size: 2.5rem;
    display: inline-block;
    margin: 0 1rem 0.5rem 1rem;
}

#other-tech li {
    font-size: 1rem;
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
}

.text-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro-section .text-content {
    max-width: 500px;
}

#profile-photo-border {
    display: none;
}

/* Project Pages */

.project-wrapper {
    /* width: 100%; */
    height: 50vw;
    position: relative;
    margin-bottom: 1rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

#mugglecity-project-wrapper {
    background-image: url('/images/mugglecity/mugglecity-car-doc-show.png');
}

#bruno-project-wrapper {
    background-image: url('/images/bruno/bruno-car-recipe-view.png');
}

#color-palette-project-wrapper {
    background-image: url('/images/react-colors/react-colors-car-home.png');
}

#manilowe-project-wrapper {
    background-image: url('/images/manilowe/manilowe-car-home.png');
}

.project-image-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 80%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-color 0.3s ease-in;
    text-align: center;
}

.project-image-overlay:hover {
    background-color: rgba(255, 255, 255, 70%)
}

.project-image-overlay a {
    font-size: 4.3rem;
    font-weight: 700;
    margin: 1rem 0.5rem;
    color: rgba(0,0,0,70%);
    text-align: center;
    text-decoration-color: rgb(152, 63, 151);
}

/* Project Detail Page */

#project-details ul {
    padding: 0 1rem;
    margin: 0 1rem;
    list-style: disc;
    list-style-position: outside;
}

#project-details li {
    padding: 1rem 0;
}

/* Project Image Carousel */

.carousel-wrapper {
    overflow: hidden;
    position: relative;
    padding: 1.5rem;
    max-width: 925px;
    margin: 0 auto;
    transition: height 0.2s;
    height: 0;
}

.carousel {
    position: relative;
    height: 100%;
}

.carousel-curtain {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1.05);
    background-color: rgba(255,255,255,1);
    height: 100%;
    width: 100%;
    z-index: 8;
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 11;
    transition: width 0.7s, opacity 0.7s;
}

.carousel-controls-collapsed {
    width: 0;
    opacity: 0;
}

.carousel-controls button {
    display: none;
    font-size: 2.5rem;
    align-items: center;
    padding: 0.25rem;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: transform 0.7s, opacity 0.7s;
    position: absolute;
    max-height: 550px;
    top: 0;
    transform: translateX(0) scale(0.95);
    opacity: 0;
    z-index: 0;
}

.carousel-item img {
    width: 100%;
}

.carousel-item.active {
    transform: translateX(0) scale(1.05);
    box-shadow: 5px 5px 10px;
    width: 100%;
    opacity: 1;
    z-index: 10;
}

.carousel-item.incoming {
    z-index: 1;
}

.carousel-item.outgoing {
    z-index: 9;
}

.carousel-item.left, .carousel-item.right {
    opacity: 0.7;
}

.carousel-item.left {
    transform: translateX(-90%) scale(0.9);
}

.carousel-item.right {
    transform: translateX(95%) scale(0.9);
}

#mobile-screenshots {
    display: flex;
    justify-content: center;
    padding-left: 10%;
    margin: 1rem auto;
}

#mobile-screenshots img {
    width: 40%;
    margin-left: -10%;
}

/* Footer */
footer p {
    font-style: italic;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.75rem;
    margin: 0.5rem 1rem;
}

/* Desktop */

@media only screen and (min-width: 590px) {
    /* Grid Layout */
    #container-home {
        grid-template-rows: auto 1fr 2rem;
    }

    header, header.compact {
        background-image: none;
        background: none;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
    }
    
    nav {
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
        height: fit-content;
        width: 100%;
    }

    nav li {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 1rem;
        font-size: 1.2rem;
    }

    .toggle-nav {
        display: none;
    }

    .content-row {
        padding: 1rem 2rem;
    }

    .content-row:nth-of-type(1) {
        /* background-color: rgba(152, 178, 136, 25%); */
        background-color: rgba(212, 243, 214, 50%);
    }

    .content-row:nth-of-type(2) {
        background-color: rgb(255, 255, 255);
    }

    #intro-section .text-content {
        width: 50%;
    }

    #profile-photo-border {
        align-self: center;
        display: block;
        width: 50%;
        max-width: 350px;
        padding: 0.5rem;
        transform: rotate(-2deg);
        background-color: white;
        position: relative;
        margin-left: 1rem;
        overflow: hidden;
    }

    #profile-photo {
        display: block;
        border-radius: 1rem;
        max-width: 350px;
        width: 100%;
        transition: filter 5s;
    }

    #projects-section {
        flex-direction: column;
    }

    .project-wrapper {
        max-height: 330px;
        max-width: 800px;
        margin: 1rem auto;
    }

    #mobile-screenshots {
        max-width: 70%;
    }

    .carousel-wrapper {
        padding: 2rem;
    }

    .carousel-curtain {
        background-color: rgb(233 249 234);
    }

    .carousel-controls button {
        display: inline-flex;
    }

    #project-details ul {
        width: fit-content;
        max-width: 80%;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 770px) {
    .content-row {
        padding: 1rem 8rem;
    }

    .carousel-wrapper {
        padding: 3rem;
    }

}